html, body, .fullHeight { 
  margin:0; 
  padding:0; 
  height:100%; 
  font-size: 24px;
}

div {
    text-align: center;
}

a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none !important;
}


#pomodoro {
    margin: 10px auto;
}

input {
    width: 80px;
}
