html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
  font-size: 24px;
}

div {
    text-align: center;
}

a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none !important;
}


#pomodoro {
    margin: 10px auto;
}

input {
    width: 80px;
}

#tomato {
    width: 300px;
    margin: 0 auto;
    position: relative;
}

img {
    width: 70%;
    cursor: pointer;
}

#timeRemaining {
    position:relative; 
    top: -120px;
    height: 55px;
    text-align:center;
    width: 45%;
    margin: 0 auto;
    color: white;
    font-family: 'Gochi Hand', cursive;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    cursor: pointer;
    text-shadow: 2px 2px #444;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3D2F3E;
}

body {
    font-family: 'Indie Flower', cursive;
}

.signature {
    font-size: 24px;
    color: #BBB;
}

.timerLabel {
    /*text-align: left;*/
}

.timeSetter {
    margin: 0 auto;
    text-align: center;
}